body {
    border: 0;
    margin: 0;
    padding: 0;
}

/*bg mascote*/
.img-background {
    width: 600px;
    height: 1000px;
    display: block;
    position: fixed;
    top: 50px;
    left: 100px;
    bottom: 30px;
    z-index: -1;
}

.img-background::after {
    content: "";
    background: url(../img/mascote-medium.png) no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

/*index, register, password-reset e data-update*/
.btn-my-color {
    background-color: #674461;
    border-color: #674461;
}

.letter-color {    
    color: #674461;
    font-family: 'Baloo Bhai', cursive;    
    font-size: 1.5rem;  
}

.btn-my-color:hover {
    background-color: #563c4a;
    border-color: #563c4a;
}

.form-container a {
    color: black;
}

h1 {
    font-family: 'Baloo Bhai', cursive;
    color: #4C2F47;
    font-size: 64px;
    margin-top: 70px;
    margin-bottom: 100px;
}

h2 {
    font-family: 'Baloo Bhai', cursive;
    color: #4C2F47;
    font-size: 52px;
    margin-top: 70px;
    margin-bottom: 80px;
}

.password-reset {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4C2F47;
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 100px;
}

.form-label {
    font-family: 'Baloo Bhai', cursive;
    color: #4C2F47;
    font-size: 1.25rem;
}

.form-check-input, .form-check-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4C2F47;
    font-size: 0.95rem;
}

/*home*/
.navbar-toggler:focus, .navbar-toggler:hover, .navbar-toggler:not(.collapsed), .offcanvas.show {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(103, 68, 97, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

header {
    min-height: 5rem;
}
  
.bg-white {
    background-color: #fff;
    display: 100vh;
}

.bg-yellow {
    background-color: #fedf00;
}

.destino-label {
    font-family: 'Baloo Bhai', cursive;
    color: #4C2F47;
    font-size: 1.75rem;
    margin-top: 2rem;
}

.input-group{
    margin-top: 0.75rem;
}

.list-group {
    margin-top: 0.75rem;
}

h3 {
    font-family: 'Baloo Bhai', cursive;
    color: #4C2F47;
    margin-top: 2rem;
}

.map-nav-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4C2F47;
    margin-top: 0.5rem;
}

.map {
    border: 1px solid #674461;
    border-radius: 5px;
}

.btn {
    display: inline-block;
}

i {
    margin-right: 15px;
}