body {
    background-color: #fedf00;
}

.btn-my-color {
background-color: #674461;
border-color: #674461;
}

.btn-my-color:hover {
background-color: #563c4a;
border-color: #563c4a;
}

.form-container a {
    color: black;
}